/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Board-specific Devicetree overlay for ESP32-DevKitC PROCPU.
 */

#include "../dts/partitions_4m.dtsi"

/* Ensure the BOOT button GPIO is enabled for this board */

&pinctrl {
	uart2_pins: uart2_pins {
		group1 {
			pinmux = <UART2_TX_GPIO27>;
		};

		group2 {
			pinmux = <UART2_RX_GPIO26>;
			bias-pull-up;
		};
	};
};

&gpio0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart2_pins>;
};

&adc0 { status = "okay"; };
&i2c0 { status = "okay"; };


 / {
	chosen {
		zephyr,console = &uart1;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Heartbeat";
		};
	};
};
