/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Board-specific Devicetree overlay for ESP32-DevKitC PROCPU.
 */

#include "../dts/partitions_4m.dtsi"

/* Ensure the BOOT button GPIO is enabled for this board */
&gpio0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&adc0 { status = "okay"; };
&i2c0 { status = "okay"; };


 / {
	chosen {
		zephyr,console = &uart1;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Heartbeat";
		};
	};
};
